$white: hsl(0, 0%, 100%);
$lightGrey: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightGrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5%;
  margin-bottom: 1.5em;
}

.container {
  width: 100%;
  max-width: 350px;
  background-color: $white;
  margin: 0 auto;
  padding: 1.2em;
  border-radius: 5%;

  .title {
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: inherit;
    text-align: center;
    margin-bottom: .5em;
    color: $darkBlue;
  }

  .subtitle {
    font-family: inherit;
    line-height: 1.5;
    font-size: .94rem;
    text-align: center;
    color: $grayishBlue;
    max-width: 265px;
    margin: .5em auto;
  }
}

.attribution {
  margin-top: 2em;
  font-size: 11px;
  text-align: center;

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}